.menu-history {
    border: 1px solid #fea84d !important;
    background-color: #fea84d !important;
}

.context {
    width: 500px;
    background-color: white;
    margin: 0 auto;
}

.history-item {
    display: flex;
    padding: 0 0 20px 0;
}

.purchase-data {
    padding: 0; margin: 20px 0 10px 0;
    text-align: left;
    font-size: 1.3rem;
    color: black;
    font-weight: bold;
}

.purchased-img {
    width: 100px; 
    height: 100px;
    border: 1px solid #cccccc;
    background-color: #e6e6e6;
    margin-right: 10px;
    overflow: hidden; /* 이미지가 컨테이너 밖으로 넘치지 않도록 설정 */
    display: flex; /* 이미지 정렬 */
    justify-content: center;
    align-items: center;
}

.purchased-img img {
    width: 100%; /* 부모의 너비에 맞춤 */
    height: 100%; /* 부모의 높이에 맞춤 */
    object-fit: cover; /* 비율을 유지하며 컨테이너에 맞게 조정 */
}


.purchased-info-in {
    margin-left: 10px;
}

.purchased-name {
    color: black;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.deli-status {
    color: #cccccc;
    margin-bottom: 20px;
}

.history {
    border-bottom: 1.5px solid #cccccc;
}

.deli-status-check, .review-write-btn {
    border: 1px solid black;
    background-color: white;
    margin-right: 10px;
    width: 100px;
    justify-content: center;
    padding: 3px 0;
    cursor: pointer;
}

.history-btn {
    display: flex;
}