.menu-reg_items {
  border: 1px solid #fea84d !important;
  background-color: #fea84d !important;
}

.context {
  display: block;
  margin-left: 27%;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: auto;
  position: relative;
  /* 필요에 따라 absolute, fixed로 변경 */
  z-index: 10;
  /* 다른 요소보다 위에 오도록 */
}

.product-label {
  font-size: 1.1em;
  font-weight: bold;
  color: #454545;
  padding-right: 7px;
}

.input-box {
  padding: 8px 15px;
  outline: none;
  border: 1px solid #adadad;
  border-radius: 3px;
}

input {
  font-size: 15px;
}

select {
  display: inline-block;
  width: auto;
  padding: 5px 10px;
  font-size: 12px;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox에서 스피너 제거 */
  -webkit-appearance: none;
  /* Chrome, Safari에서 스피너 제거 */
  appearance: none;
  /* 최신 브라우저용 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  /* 스피너 제거 */
  margin: 0;
  /* 여백 제거 */
}

textarea {
  overflow: hidden;
  /* 스크롤바를 숨김 */
  resize: none;
  /* 사용자가 크기 조절하지 못하도록 설정 */
}

.product-deli {
  display: flex;
  gap: 10px;
}

.deli-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn {
  border:none;
  padding:7px 12px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  color:white;
  background-color: #fea84d;
  border-radius: 3px;
}

.submit-btn:hover {
  background-color: #ff982a;
}