.menu-reg_items {
  border: 1px solid #fea84d !important;
  background-color: #fea84d !important;
}

@font-face {
  font-family: "moneygraphy-pixel";
  src: url("../fonts/Moneygraphy-Pixel.woff2") format("woff2"),
  url("../fonts/Moneygraphy-Pixel.woff") format("woff"),
  url("../fonts/Moneygraphy-Pixel.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

select, input, textarea, #product-img {
  font-family: 'Pretendard-Regular';
}

.context {
  /* display: block;
  /* margin-left: 27%; */
  /* align-items: center;
  justify-content: center;
  width: 400px;
  height: auto;
  position: relative;
  z-index: 10; */

  width: 500px;
    background-color: white;
    margin: 0 auto;
    padding-top: 10px;
}

.product-label {
  font-size: 1.1em;
  /* font-weight: bold; */
  color: black;
  /* padding-right: 7px; */
  width: 110px;
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "moneygraphy-pixel";
}

.product-explain {
  display: flex;
  align-items: center;
}

.input-box {
  padding: 8px 15px;
  outline: none;
  border: 1px solid #adadad;
  border-radius: 3px;
}

input {
  font-size: 15px;
}

select {
  display: inline-block;
  width: auto;
  padding: 5px 10px;
  font-size: 12px;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox에서 스피너 제거 */
  -webkit-appearance: none;
  /* Chrome, Safari에서 스피너 제거 */
  appearance: none;
  /* 최신 브라우저용 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  /* 스피너 제거 */
  margin: 0;
  /* 여백 제거 */
}

textarea {
  overflow: hidden;
  /* 스크롤바를 숨김 */
  resize: none;
  /* 사용자가 크기 조절하지 못하도록 설정 */
}

.product-deli {
  display: flex;
  align-items: center;
}

.deli-type {
  padding: 8px;
  margin-right: 10px;
  border: 1.5px solid #cccccc;
  border-radius: 30px;
  cursor: pointer;
}

.deli-type:hover, .checkbox-active {
  background-color: #fea84d;
  color: white;
  border: 1.5px solid #fea84d;
}

#deli-price {
  display: none;
  margin-left: 10px;
  padding: 5px;
  border: 1.5px solid #cccccc;
  display: flex;
  align-items: center;
}

.deli-price-A {
  margin-right: 10px;
  padding: 7px;
  border-radius: 20px;
  background-color: #fea84d;
  color: white;
  font-size: 0.9em;
}

.deli-price-B {
  display: flex;
  align-items: center;
  border: 1.5px solid #cccccc;
  padding: 5px;
}

.deli-price-in {
  border: none;
  outline: none;
  width: 70px;
  text-align: right;
}

.deli-btn {
  display: none;
}

.won2 {
  margin-left: 5px;
  font-size: 0.9em;
}

/* .product-deli {
  display: flex;
  gap: 10px;
}

.deli-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
} */

/* .submit-btn {
  border:none;
  padding:7px 12px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  color:white;
  background-color: #fea84d;
  border-radius: 3px;
  margin: 0 auto;
} */

.submit-btn:hover {
  background-color: #ff982a;
  border: #ff982a;
}

.product-upload {
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn {
  padding: 8px 20px;
  border-radius: 30px;
  background-color: #fea84d;
  border: #fea84d;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  
  font-family: "moneygraphy-pixel";
}