{% extends "index_2.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
{% endblock %}

{% block ul %}
{% endblock %}

{% block section %}

<div class="context">
  <div class="history" id="item-test" style="display: none;">
    <div class="test-date">2024.11.29.</div>
    <div class="history-item">

      <a href="/review_tomato">
        <div class="purchased-img">
          <img id="received-img" src="">
        </div>
      </a>
      <div class="purchased-info-in">
        <div class="purchased-name" id="received-name">아이템</div>
        <div class="product-category" id="received-category">#카테고리</div>
        <div class="product-price" id="received-price">5,000원</div>
        <div class="history-btn">
          <a href="/reg_reviews_tomato">
            <button class="review-write-btn">리뷰 작성</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="history">
            <div class="purchased-date">2024.11.02</div>
            {% if items %}
            {% for item_name, item in items.items() %}

            <div class="history-item">
              <a href="/review/{{ item_name }}">
                <div class="purchased-img">
                  <img src="{{ url_for('static', filename=item.img_path) }}" alt="{{ item.product_category }}">
                </div>
              </a>
              <div class="purchased-info-in">
                <div class="purchased-name">{{ item_name }}</div>
                <div class="product-category">#{{ item.product_category }}</div>
                <div class="product-price">{{ item.product_price }}원</div>
                <div class="history-btn">
                  <button class="review-write-btn" onclick="window.location.href='/write_review/{{ item_name }}';">리뷰
                    작성</button>
                </div>
              </div>
            </div>

            {% endfor %}
            {% else %}
            <p class="no-items">등록된 상품이 없습니다.</p>
            {% endif %}

  </div>
</div>

      <script src="{{ url_for('static', filename='js/history.js') }}"></script>
      {% endblock section %}