{% extends "base.html" %}

{% block title %}Tiger Market{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<style>
    .nav4 {
        background-color: #eeeeee;
    }
</style>
{% endblock %}

{% block content %}
<div class="content">
  {% block product %}
  <section>
    
      <div class="product-card">
        <a href="">
          <div class="product-image">
            <img src="/static/images/엽서1.png" alt="">
          </div>
          <!-- 상품 정보 -->
          <div class="product-info">
            <span class="product-name">빈티지 엽서</span>
            <span class="product-price">1,000원</span>
          </div>
        </a>
      </div>
      <div class="product-card">
        <a href="">
          <div class="product-image">
            <img src="/static/images/엽서2.png" alt="">
          </div>
          <!-- 상품 정보 -->
          <div class="product-info">
            <span class="product-name">봄의 순간들 엽서 세트</span>
            <span class="product-price">4,000원</span>
          </div>
        </a>
      </div>
      <div class="product-card">
        <a href="">
          <div class="product-image">
            <img src="/static/images/엽서3.png" alt="">
          </div>
          <!-- 상품 정보 -->
          <div class="product-info">
            <span class="product-name">여름 엽서</span>
            <span class="product-price">1,500원</span>
          </div>
        </a>
      </div>
      <div class="product-card">
        <a href="">
          <div class="product-image">
            <img src="/static/images/엽서4.png" alt="">
          </div>
          <!-- 상품 정보 -->
          <div class="product-info">
            <span class="product-name">미니 포스터 엽서</span>
            <span class="product-price">1,000원</span>
          </div>
        </a>
      </div>
      
      
  </section>
  {% endblock %}
</div>
<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock %}

