{% extends "base.html" %}

{% block title %}Tiger Market{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<style>
  .nav1 {
      background-color: #eeeeee;
  }
</style>
{% endblock %}

{% block content %}
<div class="content">
  {% block product %}
  <section>
    <!-- js를 통해 동적으로 추가 예정 -->

    <!-- 테스트용 아이템
    <div class="product-card">
      <a href="/review_tomato">
    
        <div class="product-image">
          <img src="static/images/토마토.jpg" alt="토마토">
        </div>
        <div class="product-info">
          <span class="product-name">토마토</span>
          <span class="product-price">2,500원</span>
        </div>
      </a>
    </div> -->

    {% if items %}
      {% for product_name, product_details in items.items() %}
      <div class="product-card">



        <a href="/review/{{ product_name }}">
        <!-- <a href="/product_name={{ product_name }}"> -->
        


          <!-- 상품 이미지 -->
          <div class="product-image">
            {% if product_details.get('img_path') %}
              
            <img src="{{ url_for('static', filename=product_details['img_path']) }}" alt="{{ product_name }}">
            
            {% else %}
              <img src="{{ url_for('static', filename='images/default.jpg') }}" alt="기본 이미지">
            {% endif %}
          </div>
          <!-- 상품 정보 -->
          <div class="product-info">
            <span class="product-name">{{ product_name }}</span>
            <span class="product-price">{{ product_details['product_price'] if 'product_price' in product_details else 0 }}원</span>
          </div>
        </a>
      </div>
      {% endfor %}
    {% else %}
      <p>등록된 상품이 없습니다.</p>
    {% endif %}
  </section>
  {% endblock %}
</div>
<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock %}

