{% extends "base.html" %}

{% block title %}Tiger Market{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<style>
    .nav8 {
        background-color: #eeeeee;
    }
</style>
{% endblock %}

{% block content %}
<div class="content">
  {% block product %}
  <section>
    
    <div class="product-card">
        <a href="">
          <div class="product-image">
            <img src="/static/images/포스터1.png" alt="">
          </div>
          <!-- 상품 정보 -->
          <div class="product-info">
            <span class="product-name">vintage movie poster</span>
            <span class="product-price">3,000원</span>
          </div>
        </a>
      </div>
      <div class="product-card">
        <a href="">
          <div class="product-image">
            <img src="/static/images/포스터2.png" alt="">
          </div>
          <!-- 상품 정보 -->
          <div class="product-info">
            <span class="product-name">오리의 방에 온 걸 환영해</span>
            <span class="product-price">1,500원</span>
          </div>
        </a>
      </div>
      <div class="product-card">
        <a href="">
          <div class="product-image">
            <img src="/static/images/포스터3.png" alt="">
          </div>
          <!-- 상품 정보 -->
          <div class="product-info">
            <span class="product-name">방꾸 나홀로집에 포스터</span>
            <span class="product-price">2,000원</span>
          </div>
        </a>
      </div>
      <div class="product-card">
        <a href="">
          <div class="product-image">
            <img src="/static/images/포스터4.png" alt="">
          </div>
          <!-- 상품 정보 -->
          <div class="product-info">
            <span class="product-name">빈티지 중국 포스터</span>
            <span class="product-price">1,500원</span>
          </div>
        </a>
      </div>
      
      
  </section>
  {% endblock %}
</div>
<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock %}

