{% extends "base.html" %}

{% block title %}Tiger Market{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<style>
    .nav2 {
        background-color: #eeeeee;
    }
</style>
{% endblock %}

{% block content %}
<div class="content">
  {% block product %}
  <section>
    
      <div class="product-card">
        <a href="">
          <div class="product-image">
            <img src="/static/images/스티커1.png" alt="">
          </div>
          <!-- 상품 정보 -->
          <div class="product-info">
            <span class="product-name">판다와 오무라이스 스티커</span>
            <span class="product-price">3,000원</span>
          </div>
        </a>
      </div>
      <div class="product-card">
        <a href="">
          <div class="product-image">
            <img src="/static/images/스티커2.png" alt="">
          </div>
          <!-- 상품 정보 -->
          <div class="product-info">
            <span class="product-name">클로버 스티커팩</span>
            <span class="product-price">4,500원</span>
          </div>
        </a>
      </div>
      <div class="product-card">
        <a href="">
          <div class="product-image">
            <img src="/static/images/스티커3.png" alt="">
          </div>
          <!-- 상품 정보 -->
          <div class="product-info">
            <span class="product-name">고양이 조각스티커</span>
            <span class="product-price">2,000원</span>
          </div>
        </a>
      </div>
      <div class="product-card">
        <a href="">
          <div class="product-image">
            <img src="/static/images/스티커4.png" alt="">
          </div>
          <!-- 상품 정보 -->
          <div class="product-info">
            <span class="product-name">노꾸 흑백 스티커팩</span>
            <span class="product-price">5,000원</span>
          </div>
        </a>
      </div>
  </section>
  {% endblock %}
</div>
<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock %}

