{% extends "base.html" %}

{% block title %}Tiger Market{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
{% endblock %}

{% block content %}{% endblock %}

{% block content2 %}
<div id="slideShow">
  <ul class="slides">
    <li><img
        src="/static/images/landing1.png"
        alt=""></li>
    <li><img
        src="/static/images/landing2.png"
        alt=""></li>
    <li><img
        src="/static/images/landing3.png"
        alt=""></li>
        <li><img
          src="/static/images/landing1.png"
          alt=""></li>
      <li><img
          src="/static/images/landing2.png"
          alt=""></li>
      <li><img
          src="/static/images/landing3.png"
          alt=""></li>
  </ul>
</div>
<p class="controller">
  <span class="prev">&lang;</span>
  <span class="current-slide"></span>
  <span>&nbsp;/&nbsp;</span>
  <span class="all-slide"></span>
  <span class="next">&rang;</span>
</p>



<br><br><br>


<div class="mid">
  <h1>타이거 마켓은...</h1>
  <div class="info1">
    <div class="info1-1">
      <span>대학 행사 이후</span> <br>
      학생/개인 셀러들의 활동을 지원합니다
    </div>
  </div>
  <div class="info2">
    <div class="info2-1">
      준비한 건 너무 많은데 행사는 너무 짧아...<br>
      다음 행사까지 기다릴 수도 없고...<br>
       <span>행사 이후 넘쳐나는 재고들</span> 이제 타이거 마켓에서 관리하세요!
    </div>
  </div>
  <div class="info3">
    <div class="info3-1">
      우리 학교 행사도 좋지만... <br>
      다른 학교 행사도 궁금해! <br>
      타이거 마켓에서 <span>모든 대학 축제들을 경험해보세요!</span>
    </div>
  </div>
  <div class="info4">
    <div class="info4-1">
      같은 목표를 가지고 활동하는 대학생 작가들이 궁금해! <br>
      내 소중한 작품들을 더 널리 알리고 싶어! <br>
      타이거 마켓은 <span>대학생 창작자 간의 교류</span>를 적극 지원합니다!
    </div>
  </div>
</div>

<footer>
</footer>

<script src="{{ url_for('static', filename='js/landing.js') }}"></script>
{% endblock %}