{% extends "index_2.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reg_reviews.css') }}">
{% endblock %}

{% block ul %}
{% endblock %}

{% block section %}

<div class="context">
        <p class="review-write-title">리뷰 쓰기</p>
        <div class="line"></div>
        <div class="purchased-info">
            <div class="purchased-img">
                <img src="static/images/토마토.jpg" alt="상품 이미지">
            </div>
            <div class="purchased-info-in">
                <div class="purchased-name">토마토</div>
                <div class="purchased-deli">2024-11-27 주문 - 2024-11-29 배송완료</div>
                <div class="purchased-size">기본 옵션</div>
            </div>
        </div>

        <!-- 리뷰 작성 폼 -->
        <form class="review-form" action="/submit_review" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="order_id">
            <input type="hidden" name="item_name">

            <!-- 별점 -->
            <div class="star-rating">
                <input type="radio" id="5-stars" name="rating" value="5" required />
                <label for="5-stars" class="star">★</label>
                <input type="radio" id="4-stars" name="rating" value="4" />
                <label for="4-stars" class="star">★</label>
                <input type="radio" id="3-stars" name="rating" value="3" />
                <label for="3-stars" class="star">★</label>
                <input type="radio" id="2-stars" name="rating" value="2" />
                <label for="2-stars" class="star">★</label>
                <input type="radio" id="1-star" name="rating" value="1" />
                <label for="1-star" class="star">★</label>
            </div>

            <!-- 리뷰 내용 -->
            <textarea name="review_text" cols="55" rows="7" placeholder="리뷰 작성" required></textarea>

            <!-- 이미지 업로드 -->
            <input id="review-img" style="display: none;" type="file" name="review_image" accept="image/*">
            <label for="review-img" class="review-img">사진 등록</label>

            <!-- 제출 버튼 -->
            <button class="submit-btn" type="submit">등록</button>
        </form>
</div>

{% endblock section %}